[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle
  ignore = dirty
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
  ignore = dirty
[submodule ".vim/bundle/vim-cpp-enhanced-highlight"]
	path = .vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
  ignore = dirty
[submodule ".vim/bundle/LaTeX-Box"]
	path = .vim/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box
  ignore = dirty
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
  ignore = dirty
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
  ignore = dirty
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
  ignore = dirty
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
  ignore = dirty
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
  ignore = dirty
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
  ignore = dirty
[submodule ".vim/bundle/neosnippet"]
	path = .vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
  ignore = dirty
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
  ignore = dirty
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
  ignore = dirty
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
  ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
  ignore = dirty
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
  ignore = dirty
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
  ignore = dirty
[submodule ".vim/bundle/clighter"]
	path = .vim/bundle/clighter
	url = https://github.com/bbchung/clighter
  ignore = dirty
[submodule ".vim/bundle/vim-exchange"]
	path = .vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
  ignore = dirty
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/shougo/neobundle.vim
  ignore = dirty
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
  ignore = dirty
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
  ignore = dirty
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
  ignore = dirty
[submodule ".vim/bundle/smartpairs.vim"]
	path = .vim/bundle/smartpairs.vim
	url = http://www.github.com/gorkunov/smartpairs.vim
  ignore = dirty
[submodule ".vim/bundle/argtextobj.vim"]
	path = .vim/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim
  ignore = dirty
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
  ignore = dirty
[submodule ".vim/bundle/vim-colors_atelier-schemes"]
	path = .vim/bundle/vim-colors_atelier-schemes
	url = https://github.com/atelierbram/vim-colors_atelier-schemes.git
  ignore = dirty
[submodule ".vim/bundle/Spink"]
	path = .vim/bundle/Spink
	url = https://github.com/EHartC/Spink
  ignore = dirty
[submodule ".vim/bundle/flattown"]
	path = .vim/bundle/flattown
	url = https://github.com/blerins/flattown
  ignore = dirty
[submodule ".vim/bundle/lumberjack.vim"]
	path = .vim/bundle/lumberjack.vim
	url = https://github.com/yamafaktory/lumberjack.vim
  ignore = dirty
[submodule ".vim/bundle/vim-localvimrc"]
	path = .vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
