[submodule ".vim/bundle/repos/github.com/Raimondi/delimitMate"]
	path = .vim/bundle/repos/github.com/Raimondi/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".vim/bundle/repos/github.com/flazz/vim-colorschemes"]
	path = .vim/bundle/repos/github.com/flazz/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule ".vim/bundle/repos/github.com/bling/vim-airline"]
	path = .vim/bundle/repos/github.com/bling/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/repos/github.com/Shougo/neocomplete.vim"]
	path = .vim/bundle/repos/github.com/Shougo/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule ".vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = .vim/bundle/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule ".vim/bundle/repos/github.com/Shougo/deoplete.nvim"]
	path = .vim/bundle/repos/github.com/Shougo/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".vim/bundle/repos/github.com/Shougo/neosnippet"]
	path = .vim/bundle/repos/github.com/Shougo/neosnippet
	url = https://github.com/Shougo/neosnippet
[submodule ".vim/bundle/repos/github.com/Shougo/neosnippet-snippets"]
	path = .vim/bundle/repos/github.com/Shougo/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule ".vim/bundle/repos/github.com/neomake/neomake"]
	path = .vim/bundle/repos/github.com/neomake/neomake
	url = https://github.com/neomake/neomake
[submodule ".vim/bundle/repos/github.com/plasticboy/vim-markdown"]
	path = .vim/bundle/repos/github.com/plasticboy/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/bundle/repos/github.com/tpope/vim-fugitive"]
	path = .vim/bundle/repos/github.com/tpope/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/repos/github.com/tpope/vim-surround"]
	path = .vim/bundle/repos/github.com/tpope/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/repos/github.com/tpope/vim-commentary"]
	path = .vim/bundle/repos/github.com/tpope/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/repos/github.com/tpope/vim-repeat"]
	path = .vim/bundle/repos/github.com/tpope/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/repos/github.com/tommcdo/vim-exchange"]
	path = .vim/bundle/repos/github.com/tommcdo/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule ".vim/bundle/repos/github.com/sheerun/vim-polyglot"]
	path = .vim/bundle/repos/github.com/sheerun/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
    ignore = dirty
[submodule ".vim/bundle/repos/github.com/mileszs/ack.vim"]
	path = .vim/bundle/repos/github.com/mileszs/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/repos/github.com/gorkunov/smartpairs.vim"]
	path = .vim/bundle/repos/github.com/gorkunov/smartpairs.vim
	url = http://www.github.com/gorkunov/smartpairs.vim
[submodule ".vim/bundle/repos/github.com/embear/vim-localvimrc"]
	path = .vim/bundle/repos/github.com/embear/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule ".vim/bundle/repos/github.com/danro/rename.vim"]
	path = .vim/bundle/repos/github.com/danro/rename.vim
	url = https://github.com/danro/rename.vim
[submodule ".vim/bundle/repos/github.com/KabbAmine/yowish.vim"]
	path = .vim/bundle/repos/github.com/KabbAmine/yowish.vim
	url = https://github.com/KabbAmine/yowish.vim
[submodule ".vim/bundle/repos/github.com/tmhedberg/SimpylFold"]
	path = .vim/bundle/repos/github.com/tmhedberg/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule ".vim/bundle/repos/github.com/godlygeek/tabular"]
	path = .vim/bundle/repos/github.com/godlygeek/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/repos/github.com/Konfekt/FastFold"]
	path = .vim/bundle/repos/github.com/Konfekt/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule ".vim/bundle/repos/github.com/edkolev/tmuxline.vim"]
	path = .vim/bundle/repos/github.com/edkolev/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/bundle/repos/github.com/tpope/vim-unimpaired"]
	path = .vim/bundle/repos/github.com/tpope/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/repos/github.com/ctrlpvim/ctrlp.vim"]
	path = .vim/bundle/repos/github.com/ctrlpvim/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "oh-my-zsh_custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/bundle/repos/github.com/nathanaelkane/vim-indent-guides"]
	path = .vim/bundle/repos/github.com/nathanaelkane/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/repos/github.com/latex-box-team/latex-box"]
	path = .vim/bundle/repos/github.com/latex-box-team/latex-box
	url = https://github.com/latex-box-team/latex-box
[submodule ".vim/bundle/repos/github.com/vim-scripts/restore_view.vim"]
	path = .vim/bundle/repos/github.com/vim-scripts/restore_view.vim
	url = https://github.com/vim-scripts/restore_view.vim
[submodule ".vim/bundle/repos/github.com/vim-utils/vim-man"]
	path = .vim/bundle/repos/github.com/vim-utils/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule ".vim/bundle/repos/github.com/dhruvasagar/vim-table-mode"]
	path = .vim/bundle/repos/github.com/dhruvasagar/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "oh-my-zsh_custom/themes/powerlevel9k"]
	path = oh-my-zsh_custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
