[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule ".vim/bundle/neosnippet"]
	path = .vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-exchange"]
	path = .vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/shougo/neobundle.vim
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
    ignore = dirty
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/smartpairs.vim"]
	path = .vim/bundle/smartpairs.vim
	url = http://www.github.com/gorkunov/smartpairs.vim
[submodule ".vim/bundle/vim-localvimrc"]
	path = .vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule ".vim/bundle/rename.vim"]
	path = .vim/bundle/rename.vim
	url = https://github.com/danro/rename.vim
[submodule ".vim/bundle/yowish.vim"]
	path = .vim/bundle/yowish.vim
	url = git@github.com:KabbAmine/yowish.vim
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/FastFold"]
	path = .vim/bundle/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule ".vim/bundle/tmuxline.vim"]
	path = .vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "oh-my-zsh_custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/latex-box"]
	path = .vim/bundle/latex-box
	url = https://github.com/latex-box-team/latex-box
[submodule ".vim/bundle/restore_view.vim"]
	path = .vim/bundle/restore_view.vim
	url = https://github.com/vim-scripts/restore_view.vim
[submodule ".vim/bundle/vim-man"]
	path = .vim/bundle/vim-man
	url = https://github.com/vim-utils/vim-man
[submodule ".vim/bundle/vim-table-mode"]
	path = .vim/bundle/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
